In [2]:
import pandas as pd

In [3]:
df_expenditure = pd.read_csv("datasets\share-of-public-expenditure-on-healthcare-by-country.csv")
df_expenditure

,Entity,Code,Year,Domestic general government health expenditure (% of current health expenditure)
0,Afghanistan,AFG,2002,0.891424
1,Afghanistan,AFG,2003,7.280444
2,Afghanistan,AFG,2004,5.535272
3,Afghanistan,AFG,2005,5.319348
4,Afghanistan,AFG,2006,4.686539
...,...,...,...,...
4029,Zimbabwe,ZWE,2015,20.817961
4030,Zimbabwe,ZWE,2016,23.307768
4031,Zimbabwe,ZWE,2017,24.019287
4032,Zimbabwe,ZWE,2018,32.061230
4033,Zimbabwe,ZWE,2019,17.631706

In [4]:
#Renomeando coluna para facilitar manipulação
df_expenditure.rename(columns={"Domestic general government health expenditure (% of current health expenditure)": "Health Expenditure"})

           Entity Code  Year  Health Expenditure
0     Afghanistan  AFG  2002            0.891424
1     Afghanistan  AFG  2003            7.280444
2     Afghanistan  AFG  2004            5.535272
3     Afghanistan  AFG  2005            5.319348
4     Afghanistan  AFG  2006            4.686539
...           ...  ...   ...                 ...
4029     Zimbabwe  ZWE  2015           20.817961
4030     Zimbabwe  ZWE  2016           23.307768
4031     Zimbabwe  ZWE  2017           24.019287
4032     Zimbabwe  ZWE  2018           32.061230
4033     Zimbabwe  ZWE  2019           17.631706

[4034 rows x 4 columns]

In [5]:
valores_unicos_expenditure = df_expenditure['Entity'].unique()
valores_unicos_expenditure

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia and Pacific',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe and Central Asia',
       'European Union', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'High income',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America and Caribbean', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Low and middle income',
       'Low income', 'Lower middle income', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East and North Africa',
       'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North America', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Asia', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Upper middle income',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

n tem